.logo {
  padding-block-start: 0.5rem;
  padding-block-end: 2.25rem;
}
.small-heading {
  font-size: 2rem;
  font-weight: 600;
  color: #121826;
}
.large-heading {
  font-size: 2.5rem;
  font-weight: 600;
  padding-bottom: 2.25rem;
  padding-top: 0.75rem;
  color: #121826;
}
